.login-container {
  background-color: var(--color-tertiary);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.login-form__input {
  width: 100%;
  max-width: 550px;
  padding: 0.75rem;
  margin: 1.5rem auto;
  border: 1px solid var(--color-border);
  border-radius: 0.375rem;
  box-sizing: border-box;
  font-size: 1rem;
  display: block;
}

.login-form__button {
  width: 100%;
  max-width: 300px;
  height: 40px;
}


.login-title {
  font-size: 32px;
  padding: 1rem;
}

.login-title span {
  color: transparent;
  border-left: 5px solid var(--color-primary);
}

.login-keyboard {
  margin-top: 20px;
}

.login-keyboard__row{
  display: flex;
  justify-content: center;
}

.login-keyboard__key {
  margin: 5px;
  padding: 20px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  cursor: pointer;
  width: 70px;
  color: var(--color-secondary);
  text-align: center;
  box-sizing: border-box;
  background-color: var(--color-tertiary);
}

.login-keyboard__enter {
  width: 180px;
  border: 2px solid var(--color-secondary);
}

.login-keyboard__backspace {
  width: 150px;
}