@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600&family=Inter:wght@400;600&display=swap');

:root {
 
  --color-primary: #ea6d27;
  --color-secondary: #101a24;
  --color-tertiary: #ffffff;
  --color-selected: #f6c4ae;
  --color-bg: #f2f2f5;
  --color-panel-selected: #f3f3f4;
  --color-order-panel: #5c6574;
  --color-notification-ready: #4bae4f;
  --color-text: #101a24;
  --color-border: #ccc;

  
  --color-success: #00cc00;
  --color-error: #ff3300;

 
  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Be Vietnam Pro', sans-serif;
}

/* =====Base Styles ===== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: var(--font-primary);
  color: var(--color-text);
  background-color: var(--color-tertiary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;  
  align-items: center;  
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  font-weight: 600;
  color: var(--color-secondary);
  line-height: 1.25;
}


p {
  font-family: var(--font-primary);
  line-height: 1.6;
  color: var(--color-text);
}

button{
  padding: 0.75rem;
  margin: 1rem auto;
  border: none;
  border-radius: 0.375rem;
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
  cursor: pointer;
  font-size: 1rem;
  display: block;
  transition: background-color 0.3s ease;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

button:disabled {
  background-color: var(--color-border);
  color: var(--color-border);
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
  opacity: 0.7;
}

#loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #333;
    z-index: 1000;
    backdrop-filter: blur(5px); 
  }

  

.alert-orange-button {
    background-color:var(--color-secondary);
    border-color:var(--color-primary) ;
    border: none ;
    outline: none ;
  }

  .alert-black-button {
    background-color:var(--color-secondary);
    border-color:var(--color-secondary);
    border: none;
    outline: none;
  }